<!DOCTYPE html>
<th:block th:fragment="foot">
  <!-- Core -->
  <script th:src="@{https://wwwcszcylcn.oss-cn-hangzhou.aliyuncs.com/assets/vendor/jquery/jquery.min.js}"></script>
  <script th:src="@{https://wwwcszcylcn.oss-cn-hangzhou.aliyuncs.com/assets/vendor/popper/popper.min.js}"></script>
  <script th:src="@{https://wwwcszcylcn.oss-cn-hangzhou.aliyuncs.com/assets/js/bootstrap/bootstrap.min.js}"></script>
  <!-- FontAwesome 5 -->
  <script th:src="@{https://wwwcszcylcn.oss-cn-hangzhou.aliyuncs.com/assets/vendor/fontawesome/js/fontawesome-all.min.js}" defer></script>
  <!-- Page plugins -->
  <script th:src="@{https://wwwcszcylcn.oss-cn-hangzhou.aliyuncs.com/assets/vendor/bootstrap-select/js/bootstrap-select.min.js}"></script>
  <script th:src="@{https://wwwcszcylcn.oss-cn-hangzhou.aliyuncs.com/assets/vendor/bootstrap-tagsinput/bootstrap-tagsinput.min.js}"></script>
  <script th:src="@{https://wwwcszcylcn.oss-cn-hangzhou.aliyuncs.com/assets/vendor/input-mask/input-mask.min.js}"></script>
  <script th:src="@{https://wwwcszcylcn.oss-cn-hangzhou.aliyuncs.com/assets/vendor/nouislider/js/nouislider.min.js}"></script>
  <script th:src="@{https://wwwcszcylcn.oss-cn-hangzhou.aliyuncs.com/assets/vendor/textarea-autosize/textarea-autosize.min.js}"></script>
  <script th:src="@{https://wwwcszcylcn.oss-cn-hangzhou.aliyuncs.com/assets/vendor/swiper/js/swiper-bundle.min.js}"></script>
  <!-- Theme JS -->
  <script th:src="@{https://wwwcszcylcn.oss-cn-hangzhou.aliyuncs.com/assets/js/theme.js}"></script>
<!-- 自定义js -->
<script th:src="@{https://wwwcszcylcn.oss-cn-hangzhou.aliyuncs.com/assets/js/my.js}"></script>
<script th:src="@{/assets/js/video_swiper.js?v={version}(version=${theme.spec.version})}"></script>
</th:block>
</html>