<footer class="pt-5 pb-3 footer  footer-dark bg-tertiary" id="footer">
  <div class="container">
      <div class="d-flex align-items-center justify-content-center mb-2">
          <a th:href="@{/}"><img th:src="@{/assets/images/logo.png}" alt=""></a>
      </div>

      <div class="d-flex align-items-center justify-content-center mb-2" th:with="menu = ${menuFinder.getPrimary()}">
          <ul class="nav" th:if="${menu != null} and ${not #lists.isEmpty(menu.menuItems)}">
    
              <li class="nav-item" th:each="menuItem : ${menu.menuItems}" th:classappend="|${not #lists.isEmpty(menuItem.children) ? 'dropdown' : ''}|">
                <a class="nav-link" th:href="@{${menuItem.status.href}}"
                th:text="${menuItem.status.displayName}"
                th:target="${menuItem.spec.target?.value}"
                th:if="${#lists.isEmpty(menuItem.children)}"
                ></a>
                <th:block th:if="${not #lists.isEmpty(menuItem.children)}">
                    <a class="nav-link dropdown-toggle" href="#" role="button"  th:text="${menuItem.status.displayName}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
                    <div class="dropdown-menu" aria-labelledby="navbar_1_dropdown_1">
                        <a class="dropdown-item" th:target="${childMenuItem.spec.target?.value}" th:text="${childMenuItem.status.displayName}" th:href="@{${childMenuItem.status.href}}" th:each="childMenuItem : ${menuItem.children}"></a>
                      </div>
                </th:block>
            </li>
          </ul>
      </div>

      <div class="d-flex align-items-center justify-content-center mb-2">
          <span class="text-white footer-address" th:text="${theme.config.company.address}"></span>
      </div>

      <div class="d-flex align-items-center justify-content-center mb-2">
          <span class="footer-tel text-white" th:text="${theme.config.company.tel}"></span>
      </div>
      

      <!-- <hr> -->
      <div class="d-flex align-items-center justify-content-center">
          <span class="h6 text-light">
              <a th:href="@{${theme.config.company.url}}" class="font-weight-bolder text-light"
                href="https://www.cszcyl.cn"
                  target="_blank"
                  th:if="${not #strings.isEmpty(theme.config.company.name)}"
                  th:text="${theme.config.company.name}"> 
                  <a class="font-weight-bolder text-light"
                    th:if="${not #strings.isEmpty(theme.config.beian.icp_link)}"
                      href="https://beian.mps.gov.cn/"
                      th:href="@{${theme.config.beian.icp_link}}"
        th:text="${theme.config.beian.icp_text}"></a>
          </span>
      </div>
  </div>
</footer>
