<nav id="site-header" class="navbar navbar-expand-lg navbar-transparent navbar-dark bg-white">
  <div class="container justify-content-between" id="site-header-container">
      <div class="site-header-logo">
          <a class="navbar-brand navbar-my-logo" th:href="@{/}"><img th:if="${not #strings.isEmpty(theme.config.company.logo)}" th:src="${theme.config.company.logo}" alt=""
                  class="img-fluid"></a>
      </div>

      <div class="d-flex offcanvas-collapse justify-content-between" id="navbar_main" th:with="menu = ${menuFinder.getPrimary()}">
          <ul class="navbar-nav ml-auto align-items-lg-center" th:if="${menu != null} and ${not #lists.isEmpty(menu.menuItems)}">
            <li class="nav-item" th:each="menuItem : ${menu.menuItems}" th:classappend="|${not #lists.isEmpty(menuItem.children) ? 'dropdown' : ''}|">
                <a class="nav-link" th:href="@{${menuItem.status.href}}"
                th:text="${menuItem.status.displayName}"
                th:target="${menuItem.spec.target?.value}"
                th:if="${#lists.isEmpty(menuItem.children)}"
                ></a>
                <th:block th:if="${not #lists.isEmpty(menuItem.children)}">
                    <a class="nav-link dropdown-toggle" href="#" role="button"  th:text="${menuItem.status.displayName}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
                    <div class="dropdown-menu" aria-labelledby="navbar_1_dropdown_1">
                        <a class="dropdown-item" th:target="${childMenuItem.spec.target?.value}" th:text="${childMenuItem.status.displayName}" th:href="@{${childMenuItem.status.href}}" th:each="childMenuItem : ${menuItem.children}"></a>
                      </div>
                </th:block>
            </li>

          </ul>
      </div>

      <div class="ml-auto d-flex offcanvas-collapse justify-content-between">

          <ul class="navbar-nav ml-auto align-items-lg-center">
              <!-- <li class="nav-item">
                  <a data-ga-category="pc_nav_V2_hover" data-ga-action="click" data-ga-label="other-login"
                      href="//www-api.dji.com/cn/redirect/member/login?backUrl=http%3A%2F%2F127.0.0.1%3A5500%2Findex.html"
                      class="nav-link text-white" target="_blank"><i class="fas fa-search"></i></a>
              </li> -->

              <li class="nav-item">
                  <a data-ga-category="pc_nav_V2_hover" data-ga-action="click" data-ga-label="other-register"
                      th:href="@{/console}"
                      class="nav-link text-white" target="_blank"><i class="far fa-user"></i></a>
              </li>

              <li class="nav-item" id="top-qrcode">
                  <div class="btn-group btn-action-label position-relative" role="group" aria-label="Like">
                      <button type="button" class="btn btn-sm  btn-action"
                          th:style="'background-color: #0070d5 !important;'">
                          <i class="fas fa-shopping-basket text-white"></i>
                          <span class="text-white">商城</span>
                      </button>

                      <!-- 二维码 -->

                      <div class="p-1 bg-white border-1 wechatprogram position-absolute justify-content-center
                      flex-column align-items-center" th:style="'width:113px;height:143px;left:0;top:39px;'">
                        <img  class="img-thumbnail"  th:src="@{/assets/img/index/qrcode.jpg}" alt="">
                      </div>

                  </div>
              </li>

          </ul>
      </div>
  </div>
</nav>
