<section class="homepage-skypixel-module" th:if="${not #lists.isEmpty(theme.config.layout.swiper_video)}">
  <div class="skypixel-container mt-0">
    <div id="slide-swiper" class="swiper-container swiper-container-horizontal" style="overflow: hidden;">
      <button data-ga-category="pc-homepage" data-ga-action="click" data-ga-label="skypixel-banner_swiperPrev"
        tabindex="0" aria-label="Swiper Prev" class="swiper-btn-prev swiper-btn ga-data">
        <div class="arrow-icon"></div>
      </button>
      <button data-ga-category="pc-homepage" data-ga-action="click" data-ga-label="skypixel-banner_swiperNext"
        tabindex="0" aria-label="Swiper Next" class="swiper-btn-next swiper-btn ga-data">
        <div class="arrow-icon"></div>
      </button>
      <div class="swiper-wrapper" style="transition-duration: 0ms; transform: translate3d(-10870px, 0px, 0px);"
        th:with="swiper_videos = ${theme.config.layout.swiper_video}">
        <th:block th:each="swiper : ${swiper_videos}">
          <div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="1" style="margin-right: 16px;">
            <a
            th:href="@{${swiper.url}}" data-ga-category="pc-homepage" data-ga-action="click"
            data-ga-label="skypixel-banner_SkyCity9-shoton" aria-label="9 周年影像大赛" tabindex="-1"
            class="skypixel-banner-link ga-data" target="_blank">
              <div class="slide-video-poster" th:style="'background-image: url(${swiper.image});'">
              </div><video data-dps-name="default_" name="media" muted="" loop="" title="9 周年影像大赛"
                class="slide-grid-video slide-grid-content dps-cms">
                <source
                  data-layzr-src=""
                  type="video/mp4; codecs=&quot;avc1.4D401E, mp4a.40.2&quot;" th:src="${swiper.video}">
              </video>
            </a>
          </div>
        </th:block>

      </div>
      <div class="swiper-pagination-box">
        <div class="swiper-pagination-bullet">
          <div class="progress"></div>
        </div>
        <div class="swiper-pagination-bullet">
          <div class="progress"></div>
        </div>
        <div class="swiper-pagination-bullet">
          <div class="progress"></div>
        </div>
        <div class="swiper-pagination-bullet">
          <div class="progress"></div>
        </div>
      </div>
      <div class="swiper-prev-area"></div>
      <div class="swiper-next-area"> </div>
    </div>

  </div>
</section>