
<section class="slice bg-white bg-cover bg-size--cover mx-4 pt-0" th:if="${not #lists.isEmpty(theme.config.layout.productlist)}">
  <!-- <span class="mask bg-tertiary alpha-9"></span> -->
  <div class="container-xl row" th:with="prolist = ${theme.config.layout.productlist}">
      <!-- <div class="row cols-xs-space cols-sm-space cols-md-space"> -->
        <th:block th:each="pro : ${prolist}">
          <div class="col-lg-6 mb-4" >
            <div class="card bg-dark alpha-container text-white border-0 overflow-hidden"
                style="height: 900px;">
                <a th:href="@{${pro.pro_url}}" target="_blank">
                    <div class="card-img-bg" th:style="|background-image: url(${pro.pro_img});|"></div>
                    <!-- <span class="mask bg-dark alpha-5 alpha-4--hover"></span> -->
                    <div class="card-body px-5 py-5 text-right">
                        <div style="min-height: 200px;">
                            <h3 class="heading h1 text-white mb-3"
                                th:style="'background: url('+@{https://wwwcszcylcn.oss-cn-hangzhou.aliyuncs.com/assets/images/product_logo.png}+') no-repeat right;height: 55px;'">
                            </h3>
                            <p class="mt-4 mb-1 h2 text-dark lh-180" th:text="${pro.pro_desc}">
                            </p>
                            <p class="mb-1 h2 text-dark lh-180" th:text="${pro.pro_subDesc}">
                            </p>
                        </div>
                        <span th:href="@{${pro.pro_url}}" class="text-dark h3 text-uppercase font-weight-500">
                            了解更多
                            <i class="fas fa-arrow-right ml-2"></i>
                        </span>
                    </div>
                </a>
            </div>
        </div>
        </th:block>
      <!-- <div class="col-lg-6 mb-4" >
          <div class="card bg-dark alpha-container text-white border-0 overflow-hidden"
              style="height: 650px;">
              <a href="#" target="_blank">
                  <div class="card-img-bg" th:style="'background-image: url('+@{https://wwwcszcylcn.oss-cn-hangzhou.aliyuncs.com/assets/images/17.png}+');'"></div>
                   <span class="mask bg-dark alpha-5 alpha-4--hover"></span>
                  <div class="card-body px-5 py-5 text-right">
                      <div style="min-height: 200px;">
                          <h3 class="heading h1 text-white mb-3"
                              th:style="'background: url('+@{https://wwwcszcylcn.oss-cn-hangzhou.aliyuncs.com/assets/images/product_logo.png}+') no-repeat right;height: 55px;'">
                          </h3>
                          <p class="mt-4 mb-1 h2 text-dark lh-180">
                              单桶微压循环
                          </p>
                          <p class="mb-1 h2 text-dark lh-180">
                              全自动煎药包装一体机
                          </p>
                      </div>
                      <span href="#" class="text-dark h3 text-uppercase font-weight-500">
                          了解更多
                          <i class="fas fa-arrow-right ml-2"></i>
                      </span>
                  </div>
              </a>
          </div>
      </div> -->

      <!-- <div class="col-lg-6 mb-4">
          <div class="card bg-dark alpha-container text-white border-0 overflow-hidden"
              style="height: 650px;">
              <a href="#" target="_blank">
                  <div class="card-img-bg" th:style="'background-image: url('+@{https://wwwcszcylcn.oss-cn-hangzhou.aliyuncs.com/assets/images/dc9e6.png}+');'"></div>
                  <span class="mask bg-dark alpha-5 alpha-4--hover"></span> 
                  <div class="card-body px-5 py-5 text-right">
                      <div style="min-height: 200px;">
                          <h3 class="heading h1 text-white mb-3"
                              th:style="'background: url('+@{https://wwwcszcylcn.oss-cn-hangzhou.aliyuncs.com/assets/images/product_logo.png}+') no-repeat right;height: 55px;'">
                          </h3>
                          <p class="mt-4 mb-1 h2 text-dark lh-180">
                              全自动 牵条型
                          </p>
                          <p class="mb-1 h2 text-dark lh-180">
                              全新升级大型中药制丸机
                          </p>
                      </div>
                      <span href="#" class="text-dark h3 text-uppercase font-weight-500">
                          了解更多
                          <i class="fas fa-arrow-right ml-2"></i>
                      </span>
                  </div>
              </a>
          </div>
      </div> -->

      <!-- <div class="col-lg-6 mb-4">
          <div class="card bg-dark alpha-container text-white border-0 overflow-hidden"
              style="height: 650px;">
              <a href="#" target="_blank">
                  <div class="card-img-bg" th:style="'background-image: url('+@{https://wwwcszcylcn.oss-cn-hangzhou.aliyuncs.com/assets/images/19.png}+');'"></div>
                   <span class="mask bg-dark alpha-5 alpha-4--hover"></span> 
                  <div class="card-body px-5 py-5 text-center">
                      <div style="min-height: 200px;">
                          <h3 class="heading h1 text-white mb-3"
                              th:style="'background: url('+@{https://wwwcszcylcn.oss-cn-hangzhou.aliyuncs.com/assets/images/product_logo.png}+') no-repeat center;height: 55px;'">
                          </h3>
                          <p class="mt-4 mb-1 h2 text-dark lh-180">
                              全能切片 高效工作
                          </p>
                          <p class="mb-1 h2 text-dark lh-180">
                              中药材小型切片机
                          </p>
                      </div>
                      <span href="#" class="text-dark h3 text-uppercase font-weight-500">
                          了解更多
                          <i class="fas fa-arrow-right ml-2"></i>
                      </span>
                  </div>
              </a>
          </div>
      </div> -->

      <!-- <div class="col-lg-6 mb-4">
          <div class="card bg-dark alpha-container text-white border-0 overflow-hidden"
              style="height: 650px;">
              <a href="#" target="_blank">
                  <div class="card-img-bg" th:style="'background-image: url('+@{https://wwwcszcylcn.oss-cn-hangzhou.aliyuncs.com/assets/images/20.png}+');'"></div>
                  <span class="mask bg-dark alpha-5 alpha-4--hover"></span> 
                  <div class="card-body px-5 py-5 text-center">
                      <div style="min-height: 200px;">
                          <h3 class="heading h1 text-white mb-3"
                              th:style="'background: url('+@{https://wwwcszcylcn.oss-cn-hangzhou.aliyuncs.com/assets/images/product_logo.png}+') no-repeat center;height: 55px;'">
                          </h3>
                          <p class="mt-4 mb-1 h2 text-dark lh-180">
                              多功能轻松粉碎&研磨
                          </p>
                          <p class="mb-1 h2 text-dark lh-180">
                              中药材小型切片机
                          </p>
                      </div>
                      <span href="#" class="text-dark h3 text-uppercase font-weight-500">
                          了解更多
                          <i class="fas fa-arrow-right ml-2"></i>
                      </span>
                  </div>
              </a>
          </div>
      </div> -->
      <!-- </div> -->
  </div>
</section>