<!DOCTYPE html>
<html lang="en" th:fragment="html (title,hero,content,head,footer,sidebar,contentClass,foot)">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=2" />
    <title th:text="${title}"></title>

    <th:block th:replace="~{modules/head}"/>

  </head>
  <body>
    <th:block th:replace="~{modules/header}" />

    <main class="main">
      <th:block th:replace="${content}" />
    </main>
    <th:block th:replace="~{modules/footer}" />
    <th:block th:if="${footer != null}">
      <th:block th:replace="${footer}" />
    </th:block>
    <th:block th:replace="~{modules/foot}" />
    <th:block th:if="${foot != null}">
      <th:block th:replace="${foot}" />
    </th:block>
    
  </body>
</html>
