<!DOCTYPE html>
<th:block th:fragment="foot">
  <!-- Core -->
  <script th:src="@{/assets/vendor/jquery/jquery.min.js}"></script>
  <script th:src="@{/assets/vendor/popper/popper.min.js}"></script>
  <script th:src="@{/assets/js/bootstrap/bootstrap.min.js}"></script>
  <!-- FontAwesome 5 -->
  <script th:src="@{/assets/vendor/fontawesome/js/fontawesome-all.min.js}" defer></script>
  <!-- Page plugins -->
  <script th:src="@{/assets/vendor/bootstrap-select/js/bootstrap-select.min.js}"></script>
  <script th:src="@{/assets/vendor/bootstrap-tagsinput/bootstrap-tagsinput.min.js}"></script>
  <script th:src="@{/assets/vendor/input-mask/input-mask.min.js}"></script>
  <script th:src="@{/assets/vendor/nouislider/js/nouislider.min.js}"></script>
  <script th:src="@{/assets/vendor/textarea-autosize/textarea-autosize.min.js}"></script>
  <script th:src="@{/assets/vendor/swiper/js/swiper-bundle.min.js}"></script>
  <!-- Theme JS -->
  <script th:src="@{/assets/js/theme.js}"></script>
  <!-- 自定义js -->
  <script th:src="@{/assets/js/other.js}"></script>
  
</th:block>
</html>