

<div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab" th:if="${not #lists.isEmpty(theme.config.notice.notice_jy_img)}">
  <div class="row justify-content-center align-items-center" th:with="notices = ${theme.config.notice.notice_jy_img}">
    <th:block th:each="notice : ${notices}">
      <div class="col-lg-2 text-center row justify-content-center align-items-center bg-secondary py-4">
        <div>
          <img th:src="${notice.img}" alt="" class="mb-3 img-fluid">
          
        </div>
      </div>
      <div class="col-lg-1 bg-white"></div>
    </th:block>
    
  </div>
</div>



<div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab" th:if="${not #lists.isEmpty(theme.config.notice.notice_zw_img)}">
  <div class="row justify-content-center align-items-center" th:with="notices = ${theme.config.notice.notice_zw_img}">
    <th:block th:each="notice : ${notices}">
      <div class="col-lg-2 text-center row justify-content-center align-items-center bg-secondary py-4" >
        <div>
          <img th:src="${notice.img}" alt="" class="mb-3 img-fluid">
        </div>
      </div>
      <div class="col-lg-1 bg-white"></div>
    </th:block>
    
  </div>
</div>



<div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab" th:if="${not #lists.isEmpty(theme.config.notice.notice_fs_img)}">
  <div class="row justify-content-center align-items-center" th:with="notices = ${theme.config.notice.notice_fs_img}">
    <th:block th:each=" notice : ${notices}">
      <div class="col-lg-2 text-center row justify-content-center align-items-center bg-secondary py-4">
        <div>
          <img th:src="${notice.img}" alt="" class="mb-3 img-fluid">
        </div>
      </div>
      <div class="col-lg-1 bg-white"></div>
    </th:block>
    
  </div>
</div>


