<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
  th:replace="~{modules/other_layout :: html(title = ${site.title}, hero = null, content = ~{::content}, head = null, footer = null, sidebar = null, contentClass = null,foot = null )}">


<th:block th:fragment="content">
  <section class="slice-sm bg-dark pt-2 pb-0">
    <div class="container">
      <div class="row align-items-center cols-xs-space cols-sm-space cols-md-space text-center text-lg-left">
        <div class="col-lg-7">
          <h1 class="heading h4 text-white strong-500" th:text="帮助与支持">
            
          </h1>
        </div>
      </div>
    </div>
  </section>

  <section class="slice slice-lg p-0">
    <div th:style="'height: 450px;
    background-image: url('+@{https://wwwcszcylcn.oss-cn-hangzhou.aliyuncs.com/assets/img/help/support.png}+');
    background-size: cover;
    background-position: center center;
    position: relative;'">
      <p class="heading h2 text-white position-absolute" th:style="'width: 140px;
    height: 38px;
    top: 50%;
    left: 50%;
    margin-top: -19px;
    margin-left: -70px;
    text-align: center;'" th:text="帮助与支持"></p>

      <p class="headering h5 text-white position-absolute" th:style="'width: 146px;
    height: 24px;
    top: 50%;
    left: 50%;
    margin-top: 33px;
    margin-left: -73px;
    text-align: center;'">Help And Support</p>
    </div>

  </section>

  <section class="slice-lg pb-0">
    <div class="container">
      <div class="row align-items-center cols-xs-space cols-sm-space cols-md-space text-center text-lg-left">
        <div class="col-lg-12">
          <h2 class="heading h2 text-dark strong-500 text-center" th:text="热门服务">
            
          </h2>

        </div>
      </div>
    </div>
  </section>

  <section class="slice-sm pb-0">
    <div class="container">
      <div class="row align-items-center cols-xs-space cols-sm-space cols-md-space text-center text-lg-left">
        <div class="col-lg-12">

          <h6 class="h6 text-muted text-center">产品使用解惑 , 产品使用说明</h6>
        </div>
      </div>
    </div>
  </section>

  <section class="slice slice-sm" data-delimiter="0">
    <div class="container">

      <div class="row-wrapper ">
        <div class="row justify-content-center align-items-center">
          <div class="col-lg-2 text-center row justify-content-center align-items-center bg-secondary py-4">
            <div>
              <img th:src="@{https://wwwcszcylcn.oss-cn-hangzhou.aliyuncs.com/assets/img/help/date.png}" alt="" class="mb-3 img-fluid">
              <p class="h3" th:text="30天换新"></p>
              <a href="" class="h6" th:text="无忧购物"></a>
            </div>
          </div>
          <div class="col-lg-1 bg-white"></div>
          <div class="col-lg-2 text-center row justify-content-center align-items-center bg-secondary py-4">
            <div>
              <img th:src="@{https://wwwcszcylcn.oss-cn-hangzhou.aliyuncs.com/assets/img/help/zhibao.png}" alt="" class="mb-3 img-fluid">
              <p class="h3" th:text="1年质保"></p>
              <a href="" class="h6" th:text="质检认证"></a>
            </div>
          </div>
          <div class="col-lg-1 bg-white"></div>
          <div class="col-lg-2 text-center row justify-content-center align-items-center bg-secondary py-4">
            <div>
              <img th:src="@{https://wwwcszcylcn.oss-cn-hangzhou.aliyuncs.com/assets/img/help/fix.png}" alt="" class="mb-3 img-fluid">
              <p class="h3" th:text="终生维修"></p>
              <a href="" class="h6" th:text="实力厂家"></a>
            </div>
          </div>
          <div class="col-lg-1 bg-white"></div>
          <div class="col-lg-2 text-center row justify-content-center align-items-center bg-secondary py-4">
            <div>
              <img th:src="@{https://wwwcszcylcn.oss-cn-hangzhou.aliyuncs.com/assets/img/help/kefu.png}" alt="" class="mb-3 img-fluid">
              <p class="h3">专属客服</p>
              <a href="" class="h6" th:text="在线指导"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="slice-lg pb-0">
    <div class="container">
      <div class="row align-items-center cols-xs-space cols-sm-space cols-md-space text-center text-lg-left">
        <div class="col-lg-12">
          <h2 class="heading h2 text-dark strong-500 text-center" th:text="产品支持">
            
          </h2>

        </div>
      </div>
    </div>
  </section>

  <section class="slice-sm pb-0">
    <div class="container">
      <div class="row align-items-center cols-xs-space cols-sm-space cols-md-space text-center text-lg-left">
        <div class="col-lg-12">

          <h6 class="h6 text-muted text-center">产品使用解惑 , 产品使用说明</h6>
        </div>
      </div>
    </div>
  </section>

  <section class="slice" data-delimiter="0">
    <div class="container">

      <ul class="nav nav-pills nav-fill flex-column flex-sm-row" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link mb-sm-3 active" id="home-tab" data-toggle="tab" href="#home" role="tab"
            aria-controls="home" aria-selected="true">煎药机</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mb-sm-3" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
            aria-controls="profile" aria-selected="false">制丸机</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mb-sm-3" id="contact-tab" data-toggle="tab" href="#contact" role="tab"
            aria-controls="contact" aria-selected="false">粉碎机</a>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        

        <th:block th:replace="~{modules/support-product}"/>
        
        
      </div>

    </div>
  </section>


  <section class="slice-lg pb-0">
    <div class="container">
      <div class="row align-items-center cols-xs-space cols-sm-space cols-md-space text-center text-lg-left">
        <div class="col-lg-12">
          <h2 class="heading h2 text-dark strong-500 text-center" th:text="公告与通知">
            
          </h2>

        </div>
      </div>
    </div>
  </section>

  <!-- 公告 -->
  <th:block th:replace="~{modules/support-notice}"/>

  <section class="slice-lg pb-0">
    <div class="container">
      <div class="row align-items-center cols-xs-space cols-sm-space cols-md-space text-center text-lg-left">
        <div class="col-lg-12">
          <h2 class="heading h2 text-dark strong-500 text-center" th:text="联系我们">
            
          </h2>

        </div>
      </div>
    </div>
  </section>

  <section class="slice pb-1">
    <div class="container pl-0">
      <div class="row justify-content-center">
        <div class="col-5 bg-secondary">
          <ul class="list-group">
            <li class="list-group-item d-flex justify-content-start align-items-center border-0 bg-transparent ">
              <img th:src="@{https://wwwcszcylcn.oss-cn-hangzhou.aliyuncs.com/assets/img/help/company.png}" alt="" class="img-fluid mr-2">
              <span class="h6 m-0 p-0">公司名称：长沙市卓成医疗器械有限公司</span>

            </li>
            <li class="list-group-item d-flex justify-content-start align-items-center border-0 bg-transparent">
              <img th:src="@{https://wwwcszcylcn.oss-cn-hangzhou.aliyuncs.com/assets/img/help/tel.png}" alt="" class="img-fluid mr-2">
              <span class="h6 m-0 p-0">联系电话：13578583589</span>

            </li>
            <li class="list-group-item d-flex justify-content-start align-items-center border-0 bg-transparent">
              <img th:src="@{https://wwwcszcylcn.oss-cn-hangzhou.aliyuncs.com/assets/img/help/email.png}" alt="" class="img-fluid mr-2">
              <span class="h6 m-0 p-0">邮箱：kefu@cszcyl.cn</span>

            </li>
            <li class="list-group-item d-flex justify-content-start align-items-center border-0 bg-transparent">
              <img th:src="@{https://wwwcszcylcn.oss-cn-hangzhou.aliyuncs.com/assets/img/help/location.png}" alt="" class="img-fluid mr-2">
              <span class="h6 m-0 p-0">地址：湖南省长沙市岳麓区学士街道玉莲路32号联东优谷工业园一号地9栋202号房</span>

            </li>
          </ul>
        </div>
        <div class="col-2 bg-white"></div>
        <div class="col-5 row bg-secondary">
          <div class="col-6 justify-content-center align-items-center row">
            <img th:src="@{https://wwwcszcylcn.oss-cn-hangzhou.aliyuncs.com/assets/img/help/152.png}" alt="" class="img-fluid">
          </div>
          <div class="col-6 justify-content-center align-items-center row mt-3">
            <div class="col-12 justify-content-center align-items-center row"><img th:src="@{https://wwwcszcylcn.oss-cn-hangzhou.aliyuncs.com/assets/img/index/qrcode.jpg}"
                alt="" class="help-contact-qrcode img-fluid"></div>
            <div class="col-12 h5 justify-content-center align-items-center row" th:text="卓成移动商城"></div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="slice pt-2" id="map-container" th:style="'width:1140px;min-width: 1140px;height: 400px;margin: 25px auto;'">

  </section>


  <script th:src="@{https://api.map.baidu.com/api?type=webgl&v=1.0&ak=S5aRXkgGLc3DsLPb0OIs90hu9FZwSuX8}"></script>
  <script th:inline="javascript">
    var map = new BMapGL.Map("map-container");
    var point = new BMapGL.Point(112.869042,28.204607);
    map.centerAndZoom(point, 15);
  
  
    //设置marker的样式与偏移
    var myIcon = new BMapGL.Icon('[(${#theme.assets("/images/logo.png")})]', new BMapGL.Size(48, 48),
            {
              offset: new BMapGL.Size(10, 25),// 图标中央下端的尖角位置。
              imageOffset: new BMapGL.Size(0, 0)// 设置图片偏移
            }
    );
    var marker = new BMapGL.Marker(point,{icon:myIcon});        // 创建标注
    // /设置marker的弹跳
    marker.setAnimation(BMAP_ANIMATION_BOUNCE); //跳动的动画
    map.addOverlay(marker);                     // 将标注添加到地图中
    marker.enableDragging();  //设置点可以拖拽
  </script>

</th:block>



</html>