<!DOCTYPE html>
<html 
xmlns:th="https://www.thymeleaf.org" 
th:replace="~{modules/layout :: html(title = ${site.title}, hero = null, content = ~{::content}, head = null, footer = null, sidebar = null, contentClass = null,foot = null)}"
>



<th:block th:fragment="content">
  <!-- 首页轮播 -->
    <th:block th:replace="~{modules/index-swiper}"/>

    <main class="main">
        <!-- 主要产品展示 -->
        <th:block th:replace="~{modules/index-main-product}" />

        <!-- 视频展示 -->
        <th:block  th:replace="~{modules/index-video}"/>

        
        <!-- 底部产品展示 -->
        <th:block th:replace="~{modules/index-bottom-product}" />

        <section class="slice slice-sm" data-delimiter="0">
            <div class="container">

                <div class="row-wrapper">
                    <div class="row justify-content-center align-items-center">
                        <div class="col-lg-4 text-center row justify-content-center align-items-center">
                            <div>
                                <img th:src="@{https://wwwcszcylcn.oss-cn-hangzhou.aliyuncs.com/assets/images/24.png}" alt="" class="mb-3 img-fluid">
                                <p class="h3">购买渠道</p>
                                <a th:href="@{/shop}" class="h6">了解更多>></a>
                            </div>
                        </div>
                        <div class="col-lg-4 text-center row justify-content-center align-items-center">
                            <div>
                                <img th:src="@{https://wwwcszcylcn.oss-cn-hangzhou.aliyuncs.com/assets/images/25.png}" alt="" class="mb-3 img-fluid">
                                <p class="h3">帮助与支持</p>
                                <a th:href="@{/categories/notice}" class="h6">了解更多>></a>
                            </div>
                        </div>
                        <div class="col-lg-4 text-center row justify-content-center align-items-center">
                            <div>
                                <img th:src="@{https://wwwcszcylcn.oss-cn-hangzhou.aliyuncs.com/assets/images/26.png}" alt="" class="mb-3 img-fluid">
                                <p class="h3">企业介绍</p>
                                <a th:href="@{/about}" class="h6">了解更多>></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
  </th:block>

    
</html>