<!DOCTYPE html>
<html
  xmlns:th="https://www.thymeleaf.org"
  th:replace="~{modules/layout :: html(title = '产品 - ' + ${site.title}, hero = null, content = ~{::content}, head = null, footer = null, sidebar = ~{::sidebar}, contentClass = '' , foot = null)}"
>

  <th:block th:fragment="content">
    <!-- <div th:text="${link}"></div> -->


    <div class="position-fixed p-2" th:style="'z-index: 99;width: 150px;right:0;top:38vh'" th:if="${not #strings.isEmpty(link[0].spec.qrcode)}">
      <img th:src="${link[0].spec.qrcode}" alt="" class="img-thumbnail">
    </div>

    <!-- <span th:text="${link.spec.topImage}"></span> -->
    <section  th:if="${not #strings.isEmpty(link[0].spec.topImage)}" class="spotlight parallax bg-cover bg-size--cover" data-spotlight="fullscreen" th:style="|background-image:url(${link[0].spec.topImage});height: 800px;
    background-position: center;
    background-size: cover;|">
    <!-- <img th:src="@{${link.spec.topImage}}" > -->

    </section>

    <section class="slice slice-lg bg-secondary  bg-size--contain"
      th:style="'background-image: url('+@{https://wwwcszcylcn.oss-cn-hangzhou.aliyuncs.com/assets/images/img-1.png}+'); background-position: center 10%;'">
      <!-- <span class="mask bg-primary alpha-7"></span> -->
      <div class="container text-center">
        <div class="row cols-xs-space cols-sm-space cols-md-space">
          <div class="col-12" th:if="${not #strings.isEmpty(link[0].spec.topTitle)}">
            <h2 class="heading text-dark h1 strong-600" th:text="${link[0].spec.topTitle}">
              
            </h2>
          </div>
        </div>
      </div>
    </section>

    <section class="slice slice-sm">
      <div class="container">
        <div class="text-center" th:if="${not #strings.isEmpty(link[0].spec.videoTitle)}">
          <h2 class="heading display-3 font-weight-bold text-primary" th:text="${link[0].spec.videoTitle}"></h2>
        </div>
        <div class="text-center" th:if="${not #strings.isEmpty(link[0].spec.videoSubTitle)}">
          <h3 class="heading h3" th:text="${link[0].spec.videoSubTitle}"></h3>
        </div>
        <div class="row cols-xs-space cols-sm-space cols-md-space" th:if="${not #strings.isEmpty(link[0].spec.videoSrc)}">
          <div class="col-lg-12">
            <!-- <img class="rounded img-fluid" src=".https://wwwcszcylcn.oss-cn-hangzhou.aliyuncs.com/assets/img/product/video.png" alt="Image description"> -->
            <video class="w-100" th:src="${link[0].spec.videoSrc}" muted controls loop></video>
          </div>
        </div>
      </div>
    </section>

    <section class="slice slice-sm" th:if="${not #strings.isEmpty(link[0].spec.featureTitle)}">
      <div class="container">
        <div class="text-center">
          <h2 class="heading display-3 font-weight-bold text-primary" th:text="${link[0].spec.featureTitle}"></h2>
        </div>
      </div>
    </section>

    <th:block th:with="featureList = ${link[0].spec.featureList}" th:if="${not #lists.isEmpty(link[0].spec.featureList)}">

      <section class="slice slice-sm" th:each=" feature ,status: ${featureList}">
        <div class="container">
          <div class="row cols-xs-space cols-sm-space align-items-center">
            <div class="col-md-6"
            th:classappend="|${status.index == 1 ? 'order-md-2 ml-lg-auto' : ''}|">
              <img th:src="${feature.image}" class="img-center img-fluid rounded z-depth-3">
            </div>
            <div class="col-md-6 col-lg-5  bg-secondary p-5"
            th:classappend="|${status.index == 1 ? 'order-md-1' : 'ml-lg-auto'}|">
              <div class="pr-md-4">
                <h3 class="heading h3" th:text="${feature.desc}">
                  
                </h3>
                <p class="lead text-gray mt-4"  th:style="'white-space: pre-wrap;'" th:text="${feature.subDesc}">
                </p>
              </div>
            </div>
          </div>
        </div>

  
      </section>

    </th:block>


    <section class="slice slice-sm">
      <div class="container">
        <div class="text-center">
          <h2 class="heading display-3 font-weight-bold text-primary">技术参数</h2>
        </div>
      </div>
    </section>

    <section class="slice slice-sm" data-delimiter="0" >
      <!-- data-spotlight="fullscreen" style="background-image: url('./asset/img/product/微信图片_20230911141738\ 拷贝\ 3.png');" -->
      <div class="container">

        <div class="row-wrapper bg-secondary p-5" th:if="${not #lists.isEmpty(link[0].spec.techList)}">

          <div class="row justify-content-center align-items-center" th:with="techParaList = ${link[0].spec.techList}">
            <div class="col-lg-4 text-center row justify-content-center align-items-center" th:each=" techPara,status : ${techParaList}"
            th:classappend="${status.index <= 3}?'mb-5':''">
              <div>
                <img th:src="${techPara.image}" alt="" class="mb-3 img-fluid">
                <p class="h3" th:text="${techPara.name}"></p>
                <a href="" class="h3 text-primary" th:text="${techPara.value}"></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="slice slice-xl" data-delimiter="0">
      <div class="container">
        <h3 class="text-center mb-5" th:text="${link[0].spec.name}" th:if="${not #strings.isEmpty(link[0].spec.name)}"></h3>
        <div class="row-wrapper" th:if="${not #lists.isEmpty(link[0].spec.footFeature.featureParamList)}">
          <div class="row justify-content-center align-items-center bg-secondary p-5">
            <div class="col-3"><img th:src="${link[0].spec.footFeature.image}"
                class="img-center img-fluid rounded"></div>
            <div class="col-3">
              <ul class="navbar" th:with = "footTxtParam = ${link[0].spec.footFeature.featureParamList}">
                <li class="nav-item h6" th:style="'list-style: none;'" th:each=" footTxt : ${footTxtParam} " th:text="${footTxt.desc}"></li>
              </ul>

              <button type="button" class="btn btn-primary btn-icon-label">
                <span class="btn-inner--text">立即购买</span>
                <span class="btn-inner--icon"><i class="fas fa-shopping-cart"></i></span>
              </button>



            </div>
          </div>
        </div>
    </section>
  </th:block>
</html>
